<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Welcome to Furniture System</h1>
      <p>Select furniture from the catalog to view details.</p>
    </div>
  </div>
  <div class="row space-top">
    <div *ngFor="let f of furniture | async | paginate: { id: 'foo', itemsPerPage: pageSize, currentPage: current}" class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{f.image}}" />
            <p>{{f.description}}</p>
            <div class="pull-right">
              <a routerLink="../details/{{f.id}}" class="btn btn-success">Details</a>
              <a *ngIf="auth.isAdmin()" routerLink="../edit/{{f.id}}" class="btn btn-info">Edit</a>
              <a *ngIf="auth.isAdmin()" (click)="deleteItem(f.id)" class="btn btn-danger">Delete</a>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls 
    id="foo" 
    (pageChange)="pageChanged($event)" 
    maxSize="9" 
    directionLinks="true" 
    autoHide="true" 
    responsive="true"
    previousLabel="Previous" 
    nextLabel="Next" 
    screenReaderPaginationLabel="Pagination" 
    screenReaderPageLabel="page" 
    screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>